<div class="row page-titles">
    <div class="col-12 row">
        <div class="col-6 text-left">
            <h3 class="text-themecolor">Módulos de Alimentos</h3>

        </div>
        <div class="col-6 text-right">
            <button (click)="nuevo()" type="button" class="btn btn-success align-self-auto" data-toggle="modal" data-target="#exampleModal">
                Agregar alimento
                <i class="fas fa-utensils"></i>        
        </button>
        </div>


    </div>

</div>

<div class="row animated fadeIn">
    <div class="col-12">

        <div class="card">
            <div class="card-body">

                <input #input (keyup)="busqueda( input.value )" class="form-control" type="text" placeholder="Buscar elemento...">
                <!-- <br>
                <select class="form-control">
                    <option value="">SELECCIONE UNA CLASIFICACIÔN</option>
            
                    <option *ngFor="let clasificacion of clasificaciones" [value]="clasificacion.id">
                        {{clasificacion.nombre}}
                    </option>
                  
                </select> -->
            </div>

        </div>

    </div>

</div>
<div class="col-sm-12" *ngIf="cargando">
    <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fas fa-sync-alt fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Catálogo de alimentos</h4>
                <div class="table-responsive">
                    <table class="table color-table info-table">
                        <thead>
                            <tr>
                                <th style="width: 9.66%">#</th>
                                <th>Descripción</th>
                                <th>Proteina</th>
                                <th>Grasa</th>
                                <th>Carbohidratos</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of objeto; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{obj.nombre}}</td>
                                <td>{{obj.proteinas}}</td>
                                <td>{{obj.grasas}}</td>
                                <td>{{obj.carbohidratos}}</td>
                                <td class="row justify-content-around"><a data-toggle="modal" data-target="#exampleModal" (click)="actulizar(obj)"><i class="fas fa-edit text-warning"></i></a> <a (click)="borrar(obj)"><i class="fas fa-trash-alt text-danger"></i></a> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-12 row text-center">
                        <div class="col-6">
                            <button (click)="cambiarDesde(-6)" class="btn btn-secondary">Anteriores</button>

                        </div>
                        <div class="col-6">
                            <button (click)="cambiarDesde(6)" class="btn btn-secondary">Siguientes</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alimento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCatalogo(f)">

                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Descripcion</label>
                        <input [(ngModel)]="alimento.nombre" name="nombre" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese la descripción" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Clasificación</label>
                        <select [(ngModel)]="alimento.clasificacion_id" name="coach" class="form-control">
                            <option value="">SELECCIONE UNA CLASIFICACIÔN</option>

                            <option *ngFor="let clasificacion of clasificaciones" [value]="clasificacion.id">
                                {{clasificacion.nombre}}
                            </option>
                          
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Proteina</label>
                            <input [(ngModel)]="alimento.proteinas" name="proteinas" type="number" class="form-control" placeholder="0" required step=".01">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputZip">Carbohidratos</label>
                            <input [(ngModel)]="alimento.carbohidratos" #input (keyup)="calcularCalorias( input.value )" name="carbohidratos" type="number" class="form-control" placeholder="0" required step=".01">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputState">Grasa</label>
                            <input [(ngModel)]="alimento.grasas" name="grasas" #input (keyup)="calcularCalorias( input.value )" type="number" class="form-control" placeholder="0" required step=".01">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">Calorias</label>
                            <input [(ngModel)]="alimento.calorias" name="totalCalorias" #input (keyup)="calcularCalorias( input.value )" type="number" class="form-control" placeholder="0" disabled step=".01">
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>