<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Módulos de usuarios</h3>
    </div>

</div>

<div class="text-right">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Agregar usuario
        <i class="fas fa-user-plus"></i>


        </button>
</div>

<br>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Catálogo de usuarios</h4>
                <div class="table-responsive">
                    <table class="table color-table info-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nigam</td>
                                <td>Eichmann</td>
                                <td>@Sonu</td>
                                <td class="text-center"><a href=""><i class="fas fa-edit text-warning"></i></a> <a href=""><i class="fas fa-trash-alt"></i></a> </td>





                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Deshmukh</td>
                                <td>Prohaska</td>
                                <td>@Genelia</td>
                                <td class="text-center"><a href=""><i class="fas fa-edit text-warning"></i></a> <a href=""><i class="fas fa-trash-alt"></i></a> </td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Roshan</td>
                                <td>Rogahn</td>
                                <td>@Hritik</td>
                                <td class="row justify-content-around"><a href=""><i class="fas fa-edit text-warning"></i></a> <a href=""><i class="fas fa-trash-alt"></i></a> </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate [formGroup]="forma">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" name="nombre" aria-describedby="emailHelp" placeholder="Ingrese el nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo</label>
                        <input formControlName="email" type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Ingrese el correo" required>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Contraseña</label>
                        <input formControlName="password" type="password" class="form-control" name="password" aria-describedby="emailHelp" placeholder="Ingrese la contraseña" required>
                    </div>
                    <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                        <p class="text-danger">
                            Las contraseñas deben de coincidir
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Confirme contraseña</label>
                        <input formControlName="password2" type="password" class="form-control" name="password2" aria-describedby="emailHelp" placeholder="Confirme la contraseña" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Seleccione un rol</label>
                        <select class="form-control" name="rol">
                              <option>Administrador</option>
                              <option>Operativo</option>                             
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Imagen</label>
                        <input type="file" class="form-control" id="img" placeholder="Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" (click)="guardar()" class="btn btn-info">Guardar</button>
            </div>
        </div>
    </div>
</div>