<div class="row page-titles">
    <div class="col-12 row">
        <div class="col-6 text-left">
            <h3 class="text-themecolor">Módulo de pasientes</h3>
        </div>
        <div class="col-6 text-right">
            <button (click)="nuevo()" type="button" class="btn btn-danger align-self-auto" data-toggle="modal" data-target="#exampleModal">
                Agregar pasiente
                <i class="fas fa-play-circle"></i>     
        </button>
        </div>
    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="busqueda( input.value )" class="form-control" type="text" placeholder="Buscar elemento...">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Catálogo de pasientes</h4>
                <div class="table-responsive">
                    <table class="table color-table info-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Edad</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of objeto; let i = index">
                                <td>{{i+1}}</td>
                                <td></td>
                                <td>{{obj.nombres}} {{obj.apellidopaterno}} {{obj.apellidomaterno}}</td>
                                <td>{{calcularEdad(obj.fechanacimiento)}}</td>
                                <td class="text-center">
                                <a [routerLink]="['/perfil', obj.id]"><i class="fas fa-rocket"></i></a>
                                <a data-toggle="modal" data-target="#exampleModal" (click)="actulizar(obj)"><i class="w-25 fas fa-edit text-warning"></i></a>
                                <a (click)="borrar(obj)"><i class=" fas fa-trash-alt text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-12 row text-center">
                        <div class="col-6">
                            <button (click)="cambiarDesde(-6)" class="btn btn-secondary">Anteriores</button>

                        </div>
                        <div class="col-6">
                            <button (click)="cambiarDesde(6)" class="btn btn-secondary">Siguientes</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo elemento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCatalogo(f)">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombres</label>
                        <input [(ngModel)]="pasiente.nombres" name="nombres" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese la descripción" required>
                    </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <label for="exampleInputEmail1">Apellido paterno</label>

                                <input [(ngModel)]="pasiente.apellidopaterno" name="apellidopaterno" type="text" class="form-control" placeholder="First name" required>
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Apellido materno</label>

                                <input [(ngModel)]="pasiente.apellidomaterno" name="apellidomaterno" type="text" class="form-control" placeholder="Last name" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="exampleInputEmail1">Estatura</label>
                                <input [(ngModel)]="pasiente.estatura" name="estatura" type="number" class="form-control" placeholder="0" required>
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Fecha de nacimiento</label>
                                <input [(ngModel)]="pasiente.fechanacimiento" name="fechanacimiento" type="date" class="form-control" placeholder="Last name" required>
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Clasificación</label>
                        <select [(ngModel)]="pasiente.genero" name="genero" id="inputState" class="form-control">
                            <option selected>Seleccione el gènero</option>
                            <option value="MASCULINO">MASCULINO</option>
                            <option value="FEMENINO">FEMENINO</option>
                            
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Objetivo</label>
                        <textarea [(ngModel)]="pasiente.objetivo" name="objeto" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>