<div class="row page-titles">
    <div class="col-12 row">
        <div class="col-6 text-left">
            <h3 class="text-themecolor">Módulo de </h3>
        </div>
        <div class="col-6 text-right">
            <button (click)="nuevo()" type="button" class="btn btn-danger align-self-auto" data-toggle="modal" data-target="#exampleModal">
                Agregar pasiente
                <i class="fas fa-play-circle"></i>     
        </button>
        </div>
    </div>
</div>
<div class="col-12 row">
    <div class="col-6">
        <div class="card mb-3">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCMB_PVPqWOfIFT7bKtR86rkt4urlZ5QfzWXuYkfemdf6mXve9" alt="Card image cap">
            <div class="card-body">
                <div class="col-12 row">
                    <div class="col-6 text-center">
                        <a href="#">
                            <div class="user-img"><span class="round bg-danger"><i class="mdi mdi-earth"></i></span></div>
                            <div class="mail-contnet">
                                <h5>23 años</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 text-center">
                        <a href="#">
                            <div class="user-img"> <span class="round bg-success"><i class="mdi mdi-bone"></i></span></div>
                            <div class="mail-contnet">
                                <h5>170 cm</h5>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col 12 text-center">
                    <a href="#">
                        <div class="user-img"> <span class="round bg-primary"><i class="mdi mdi-message-text"></i></span></div>
                        <div class="mail-contnet">
                            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi sequi iure tempora provident ad, ipsum, ex aliquam debitis dignissimos molestias minus nesciunt, voluptatum tempore? Ut sunt natus non rerum.</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div class="right-aside ">
                    <div class="right-page-header">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <h4 class="card-title m-t-10">Historial de citas</h4>
                            </div>
                            </div>
                    </div>
                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list text-center" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Peso</th>
                                    <th>Acciòn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                    <td><span class="label label-success">97 kg</span></td>
                                    <td><a href="#"><i class="fas fa-eye"></i></a>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    
                                        <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                        <td><span class="label label-success">97 kg</span></td>
                                        <td><a href="#"><i class="fas fa-eye"></i></a>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                    <td><span class="label label-success">97 kg</span></td>
                                    <td><a href="#"><i class="fas fa-eye"></i></a>
                                </tr>

                            </tbody>
                            
                        </table>
                    </div>
                    <!-- .left-aside-column-->
                </div>
            </div>
        </div>
    </div>
</div>